<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= render 'shared/content_title', title: 'Register user' %>
    <div class="well">
      <%= render 'form' %>
    </div>
  </div>
</div>
